$primary: rgb(42, 45, 56) !default;
$primary_left: rgb(55, 54, 70) !default;
$primary_right: rgb(58, 73, 79) !default;

$secondary: rgb(85, 89, 105) !default;
$secondary_left: rgb(81, 79, 98) !default;
$secondary_right: rgb(73, 83, 89) !default;

$contrast_color: rgb(0, 10, 28) !default;
$contrast_color_left: rgb(9, 0, 30) !default;
$contrast_color_right: rgb(0, 23, 35) !default;
$black_color: rgb(0, 0, 0) !default;

$complimentary: rgb(231, 153, 203) !default;
$complimentary_left: rgb(188, 150, 218) !default;
$complimentary_right: rgb(224, 151, 200) !default;

// Transparent Colors
$primary_opacity: 0.6 !default;

$primary_trans: rgba(42, 45, 56, $primary_opacity) !default;
$primary_left_trans: rgba(55, 54, 70, $primary_opacity) !default;
$primary_right_trans: rgba(58, 73, 79, $primary_opacity) !default;

$secondary_trans: rgba(85, 89, 105, $primary_opacity) !default;
$secondary_left_trans: rgba(81, 79, 98, $primary_opacity) !default;
$secondary_right_trans: rgba(73, 83, 89, $primary_opacity) !default;

// Text Color And Size

$primary_text: rgb(255, 255, 255) !default;
$secondary_text_color: rgb(185, 185, 185) !default;
$dark_text_color: rgb(70, 70, 70) !default;

$font_small: .8rem !default;
$font_size_all: 1rem !default;
$font_mid: 1.3rem, !default;
$font_large: 1.8rem !default;
$font_xl: 2.2rem !default;
$font_xxl: 3rem;

// Other

$primary_transition_fade: all ease-in-out .2s !default;

