@use "sass:color";

//FALLBACK PRIMARY COLOR
$primary: #4e3a3e !default;




$primary_2: color.adjust($primary, $hue: 15deg);
$primary_3: color.adjust($primary, $hue: -15deg);

$primary_trans: color.change($primary, $alpha: 0.6);
$primary_2_trans: color.change($primary_2, $alpha: 0.6);
$primary_3_trans: color.change($primary_3, $alpha: 0.6);



$secondary: color.change($primary, $lightness: 30%);
$secondary: color.adjust($secondary, $hue: 10deg);
$secondary_2: color.change($primary_2, $lightness: 50%);
$secondary_3: color.change($primary_3, $lightness: 50%);

$secondary_trans: color.change($secondary, $alpha: 0.6);
$secondary_2_trans: color.change($secondary_2, $alpha: 0.6);
$secondary_3_trans: color.change($secondary_3, $alpha: 0.6);



$contrast: color.change($primary, $lightness: 20%);
$contrast_trans: color.change($contrast, $alpha: 0.6);
$contrast_2: color.change($primary_2, $lightness: 20%);
$contrast_3: color.change($primary_3, $lightness: 20%);

$complimentary: color.adjust($primary, $hue: 180deg, $saturation: 20%, $lightness: 20%);
$complimentary_2: color.adjust($primary, $hue: -155deg, $saturation: 20%, $lightness: 5%);
$complimentary_3: color.adjust($primary, $hue: 155deg, $saturation: 20%, $lightness: 5%);

$text_light: rgb(255, 255, 255);
$text_dark: rgb(55, 55, 55);

$primary_transition_fade: all ease-in-out .2s;

$font_small: .7rem !default;
$font_size_all: 1.2rem !default;
$font_mid: 1.6rem, !default;
$font_large: 2.2rem !default;
$font_xl: 3rem !default;
$font_xxl: 3.7rem;

// Other

$primary_transition_fade: all ease-in-out .2s !default;

