$primary: rgb(25, 29, 49) !default;
$primary_left: rgb(42, 40, 67) !default;
$primary_right: rgb(41, 65, 74) !default;

$secondary: rgb(105, 112, 140) !default;
$secondary_left: rgb(144, 141, 169) !default;
$secondary_right: rgb(128, 148, 156) !default;

$contrast_color: rgb(2, 10, 20) !default;
$contrast_color_left: rgb(9, 1, 26) !default;
$contrast_color_right: rgb(1, 25, 39) !default;
$black_color: rgb(0, 0, 0) !default;

$complimentary: rgb(208, 132, 67) !default;
$complimentary_left: rgb(244, 190, 71) !default;
$complimentary_right: rgb(244, 71, 71) !default;

// Transparent Colors
$primary_opacity: 0.4 !default;

$primary_trans: rgba(58, 65, 92, $primary_opacity) !default;
$primary_left_trans: rgba(60, 58, 92, $primary_opacity) !default;
$primary_right_trans: rgba(51, 76, 84, $primary_opacity) !default;

$secondary_trans: rgba(105, 112, 140, $primary_opacity) !default;
$secondary_left_trans: rgba(144, 141, 169, $primary_opacity) !default;
$secondary_right_trans: rgba(128, 148, 156, $primary_opacity) !default;

// Text Color And Size

$primary_text: rgb(255, 255, 255) !default;
$secondary_text_color: rgb(185, 185, 185) !default;
$dark_text_color: rgb(70, 70, 70) !default;

$font_small: 1rem !default;
$font_size_all: 1.5rem !default;
$font_mid: 2rem, !default;
$font_large: 2.5rem !default;
$font_xl: 3rem !default;

// Other

$primary_transition_fade: all ease-in-out .2s !default;

