@import "variables";

// INIT App.Vue

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

.wrapper {
  text-align: center;

  @media only screen and (max-width: 600px) {
    margin-top: 3rem;
  }

  @media only screen and (min-width: 600px) {
    margin-top: 4rem;
  }
}

/* Clip text element */
.clip-text {
  font-family: 'Impact', sans-serif !important;
  font-size: $font_xxl;
  font-weight: bold;
  line-height: 2rem;
  position: relative;
  display: inline-block;
  margin: .25em;
  padding: .5em .75em;
  text-align: center;
  /* Color fallback */
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  #Daniel {
    margin-top: .5rem;
    margin-bottom: -1.5rem;
    font-size: $font-size_all;
  }

  &:before {
    position: absolute;
    content: '';
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
  }

  &:after {
    position: absolute;
    content: '';
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: $primary;

  }
}

/* Background image from http://thepatternlibrary.com/ and http://lorempixel.com */
.clip-text_one {
  background-image: url("../media/Abstract Background-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img_bg {
  width: -webkit-fill-available;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
}

.bg_seperator {
  //ADD MARGIN TOP FOR NEW INHERITANCE
  width: -webkit-fill-available;
  height: 20rem;
  box-shadow: 0 0 1.5rem .5rem $primary;
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  background-color: $primary;
}


// INIT NewNavbar.vue

:root {
  background-color: $primary;
}

.navbar_fixed {
  display: flex;
  justify-content: space-evenly;
  @media only screen and (max-width: 600px) {
    z-index: 1000;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: scroll !important;
    overflow-x: hidden;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;

    margin-top: 0;
    margin-left: -18.5rem;
    padding-right: 1rem;

    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;

    p {
      position: absolute;
      font-size: $font_xl;
      color: $primary;
      top: -3.5rem;
      right: 0.5rem;
      transition: $primary_transition_fade;
    }

    .rotate90 {
      transform: rotate(90deg);
      color: #ccc;
    }

  }

  @media only screen and (min-width: 600px) {
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.5rem !important;
    overflow: hidden;
    box-shadow: 0 -10px 20px 0 $contrast_color;

    p {
      display: none;
    }
  }

  background-color: $secondary_trans;
  position: fixed !important;
  transition: $primary_transition_fade;
}

.navbar_items {
  list-style-type: none;
  margin-left: -3rem;

  li {
    cursor: pointer;

    &:hover {
      background-color: $secondary_trans;
    }
  }

  @media only screen and (min-width: 600px) {
    li {
      padding: .5rem 1rem;

      transition: $primary_transition_fade;

      &:hover {
        background-color: $secondary_trans;
      }
    }
  }


  @media only screen and (max-width: 600px) {
    font-size: $font_size_all;
    margin: 0 2rem 0 1rem !important;
    padding: .25rem 1rem;
    overflow: hidden;

    li {
      padding: .65rem 1rem .65rem 5rem !important;
      border-radius: .5rem;
      background-color: $secondary_trans;
    }
  }
}

//INIT PERSONAL

.personal_container {
  position: absolute;
  top: 100%;
  padding: 2rem;
  height: auto !important;
  background-color: $primary;
}

#personal {
  font-size: $font-large;
  padding-bottom: 1.4rem;
}

// ASSETS


.arrowDown {
  position: absolute;
  left: 50%;
  top: 85%;
  z-index: 10;
  filter: invert(0) drop-shadow(0 0 1rem transparent);
  width: 4rem;
  transform: translate(-50%, 50%);
  animation: upAndDown 2s infinite;
  transition: filter ease-in-out .2s;

  &:hover {
    filter: invert(100%) drop-shadow(0 0 .25rem $complimentary);
  }
}

@keyframes upAndDown {
  0% {
    top: 85%;
  }
  50% {
    top: 87%;
  }
  100% {
    top: 85%;
  }
}

.flex_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: inline-block;
  font-size: $font-mid;
  font-weight: 100;
  width: 80%;
}

.content_paper {
  box-shadow: 0 4px 8px 0 #000000ff;
  width: -webkit-fill-available;
  border-radius: .125rem;
  //HEIGHT IN JAVASCRIPT
  //FALLBACK HEIGHT
  height: 23rem;

  padding-top: .25rem;
  margin: 2rem .5rem;
  background-color: #eadbcf;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: $font-size_all;
  -webkit-text-fill-color: #000;
  color: #000 !important;
  overflow: hidden;

  #content {
    padding: .55rem 1.5rem 0;
    text-align: left;
    font-size: small;
    position: relative;
    top: -98%;
    line-height: 1.36rem;
    overflow: hidden;

    p, span:first-child {
      display: block;
      text-align: center;
      font-size: $font-size_all;
      font-weight: bold;
      margin-bottom: .2rem;
    }
  }
}

.content_postit {
  width: webkit-fill-available;
  //FALLBACK HEIGHT
  height: 16rem;
  border-radius: .125rem;
  background-color: #ffbbbb;
  box-shadow: 0 .5rem .5rem .125rem rgba(0, 0, 0, 0.4);

  p {
    color: black;
    font-size: $font-small;
    text-align: justify;
    padding: 0 1rem;

    &:first-child {
      text-align: center;
      font-size: $font_size_all;
      font-weight: bold;
      padding: 1rem 0 0;
    }
  }
}

.content_polaroid{
  width: webkit-fill-available;
  padding: .75rem;
  //FALLBACK HEIGHT
  height: 20rem;
  border-radius: .125rem;
  background-color: #fff;
  box-shadow: 0 .5rem .5rem .125rem rgba(0, 0, 0, 0.4);
  border: solid 1px #00000088;

  .content_polaroid_inside {
    width: webkit-fill-available;
    //FALLBACK HEIGHT
    height: 15rem;
    margin-top: -2.5rem;
    background-color: #fbb;
    box-shadow: 0 0 4px 0 #00000022;

    p {
      color: black;
      font-size: $font-small;
      text-align: justify;
      padding: 0 1rem;

      &:first-child {
        text-align: center;
        font-size: $font_size_all;
        font-weight: bold;
        padding: 1.5rem 0 0;
        margin-bottom: -.25rem;
      }

    }
  }
}

.paper_pin {
  position: relative;
  left: 50%;
  top: 1%;
  transform: translateX(-50%);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 1000rem;
  box-shadow: 0 2px 4px 0 #00000088;
  background: rgb(30, 27, 78);
  background: radial-gradient(circle, rgba(30, 27, 78, 1) 0%, rgba(60, 57, 107, 1) 40%, rgba(2, 0, 36, 1) 40%, rgba(40, 38, 90, 1) 56%, rgba(66, 64, 127, 1) 72%, rgba(32, 30, 78, 1) 88%, rgba(2, 0, 36, 1) 100%);
}

.stripe {
  font-size: $font-small;
  margin:4px 1.5rem ;
  color: #aaa !important;
  -webkit-text-fill-color: #aaa;
  position: relative;
  overflow: hidden;
  transform: scaleY(.5);

}