@import "variables";

:root, a, button, input, button, textarea {
  cursor: none !important;
}

textarea::placeholder, input::placeholder {
  color: #333;
}

:root, body {
  background-color: #000011 !important;
}

.square {
  height: 15rem;
  width: 15rem;
  color: $primary_text
}

.primary {
  background-color: $primary
}

.secondary {
  background-color: $secondary;
}

.primary_less_opacity {
  background-color: $primary_trans;
}

.secondary_less_opacity {
  background-color: $secondary_trans;
}

.primary_complimentary {
  background-color: $complimentary
}


//______________________________________

.home_grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 20% 60% 20%;
}

.navbar {
  display: flex;
  background: linear-gradient(90deg, $contrast_color 0%, transparent 100%);
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 3rem 1rem 1rem 1rem;

  input {
    background-color: transparent;
    border: transparent;
    margin: .5rem 0;
    padding: 0.5rem 1rem;
    font-size: $font_size_all;
    text-align: left;
    color: $primary_text;
    border-radius: .5rem;
    transition: all ease-in-out .2s;
  }

  input:first-child {
    margin-top: 6rem;
  }

  input:hover {
    background-color: $secondary_trans;
  }
}

.big_text {
  font-size: $font_large;
}

.mid_text {
  font-size: $font_mid
}

.xl_text {
  font-size: $font_xl !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 1rem;
}

.content_border {
  border: 2px solid $secondary_trans;
  border-radius: .5rem;
  background-color: $secondary_trans;
  padding: .5rem 4rem;
  margin: 1rem;
  box-shadow: 0 4px 16px 0 black;

}

.content_grid {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  transition: all ease-in-out 0.4s;

  div {
    z-index: 0;
    font-weight: bold;
    line-height: 1;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem;
    margin: 1rem;
    height: 10rem;
    width: 15rem;
    color: $primary_text;
    flex-basis: 30%;
    box-shadow: 2rem -0.5rem 8rem 4rem $contrast_color_left inset;
    display: flex;
    align-items: center;
    font-size: $font_large;
    overflow: hidden;

    p {
      margin-top: 2rem;
      margin-left: -.5rem;
      transform: scaleY(1.5);
    }
  }

  section {
    border-radius: .5rem;
    background-color: $primary;
    display: none;
    opacity: 1;
    position: absolute;
    width: 30%;
    height: 12.6rem;
    padding: 0 .5rem 1rem;
    margin-top: 0 !important;
    transition: $primary_transition_fade;

    p {
      height: 11.6rem;
      overflow-y: scroll;
      padding-right: 1rem;
    };
    }

    p {
      margin-top: 0;
    }
  }

  span {
    display: block;
    position: absolute;
    bottom: -2%;
    left: 90%;
    font-size: $font_large;
  }

  #content_personal {
    background-image: url('../media/placeholder_technik.png');

  }

  #content_cv {
    background-image: url('../media/img.png');
  }

  #content_skills {
    background-image: url('../media/img_1.png');
  }

.fixed_content {
  display: flex;
  position: fixed;
  left: 50%;
  top: 150px !important;
  transform: translate(-40%, -50%) !important;

}

.fixed_img {
  display: flex;
  position: fixed;
}

.scaleOne {
  transform: scale(1);
}

.scalePointSeven {
  transform: scale(.7);
}

.scale {
  transform: scale(1.4);
  margin-top: 12rem;
}

.wallpaper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.trail { /* className for the trail elements */
  z-index: 100;
  position: absolute;
  height: 0;
  width: 0;
  border-radius: 1rem;
  box-shadow: 0 0 1.25rem .5rem white;
  background: transparent;
  transition: box-shadow ease-in-out .5s, background-color ease-in-out .5s;
}

.contact_field {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary_trans;
  width: 30rem;
  max-width: 30rem;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  margin-bottom: 10rem;
  border-radius: .5rem;
  box-shadow: 0 .1rem .5rem 0 #000;
  transition: $primary_transition_fade;

  input, textarea, button {
    width: 24rem;
    max-width: 24rem;
    border: none;
    background-color: rgba(255, 255, 255, .4);
    border-radius: .35rem;
    padding: .5rem 1rem;
    box-shadow: 0 .1rem .5rem 0 $contrast_color;
    font-size: $font_small;
    transition: all ease-in-out .3s;
  }

  input:hover, textarea:hover {
    background-color: rgba(255, 255, 255, .6);
  }

  input:focus, textarea:focus {
    outline: none !important;
    box-shadow: 0 0 .5rem 0 $complimentary;
  }

  button {
    width: 16rem;
    max-width: 16rem !important;
  }

  button:hover {
    background-color: $complimentary;
  }

  p {
    text-align: center;
    font-size: $font_size_all;
  }
}