*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

.wrapper {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .wrapper {
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 600px) {
  .wrapper {
    margin-top: 4rem;
  }
}

/* Clip text element */
.clip-text {
  font-family: "Impact", sans-serif !important;
  font-size: 3.7rem;
  font-weight: bold;
  line-height: 2rem;
  position: relative;
  display: inline-block;
  margin: 0.25em;
  padding: 0.5em 0.75em;
  text-align: center;
  /* Color fallback */
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.clip-text #Daniel {
  margin-top: 0.5rem;
  margin-bottom: -1.5rem;
  font-size: 1.2rem;
}
.clip-text:before {
  position: absolute;
  content: "";
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
}
.clip-text:after {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0.125em;
  right: 0.125em;
  bottom: 0.125em;
  left: 0.125em;
  background-color: rgb(47, 42, 56);
}

/* Background image from http://thepatternlibrary.com/ and http://lorempixel.com */
.clip-text_one {
  background-image: url("../media/Abstract Background-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img_bg {
  width: -webkit-fill-available;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
}

.bg_seperator {
  width: -webkit-fill-available;
  height: 20rem;
  box-shadow: 0 0 1.5rem 0.5rem rgb(47, 42, 56);
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  background-color: rgb(47, 42, 56);
}

:root {
  background-color: rgb(47, 42, 56);
}

.navbar_fixed {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(85, 89, 105, 0.6);
  position: fixed !important;
  transition: all ease-in-out 0.2s;
}
@media only screen and (max-width: 600px) {
  .navbar_fixed {
    z-index: 1000;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: scroll !important;
    overflow-x: hidden;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    margin-top: 0;
    margin-left: -18.5rem;
    padding-right: 1rem;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .navbar_fixed p {
    position: absolute;
    font-size: 3rem;
    color: rgb(47, 42, 56);
    top: -3.5rem;
    right: 0.5rem;
    transition: all ease-in-out 0.2s;
  }
  .navbar_fixed .rotate90 {
    transform: rotate(90deg);
    color: #ccc;
  }
}
@media only screen and (min-width: 600px) {
  .navbar_fixed {
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.5rem !important;
    overflow: hidden;
    box-shadow: 0 -10px 20px 0 rgb(0, 10, 28);
  }
  .navbar_fixed p {
    display: none;
  }
}

.navbar_items {
  list-style-type: none;
  margin-left: -3rem;
}
.navbar_items li {
  cursor: pointer;
}
.navbar_items li:hover {
  background-color: rgba(85, 89, 105, 0.6);
}
@media only screen and (min-width: 600px) {
  .navbar_items li {
    padding: 0.5rem 1rem;
    transition: all ease-in-out 0.2s;
  }
  .navbar_items li:hover {
    background-color: rgba(85, 89, 105, 0.6);
  }
}
@media only screen and (max-width: 600px) {
  .navbar_items {
    font-size: 1.2rem;
    margin: 0 2rem 0 1rem !important;
    padding: 0.25rem 1rem;
    overflow: hidden;
  }
  .navbar_items li {
    padding: 0.65rem 1rem 0.65rem 5rem !important;
    border-radius: 0.5rem;
    background-color: rgba(85, 89, 105, 0.6);
  }
}

.personal_container {
  position: absolute;
  top: 100%;
  padding: 2rem;
  height: auto !important;
  background-color: rgb(47, 42, 56);
}

#personal {
  font-size: 2.2rem;
  padding-bottom: 1.4rem;
}

.arrowDown {
  position: absolute;
  left: 50%;
  top: 85%;
  z-index: 10;
  filter: invert(0) drop-shadow(0 0 1rem transparent);
  width: 4rem;
  transform: translate(-50%, 50%);
  animation: upAndDown 2s infinite;
  transition: filter ease-in-out 0.2s;
}
.arrowDown:hover {
  filter: invert(100%) drop-shadow(0 0 0.25rem rgb(231, 153, 203));
}

@keyframes upAndDown {
  0% {
    top: 85%;
  }
  50% {
    top: 87%;
  }
  100% {
    top: 85%;
  }
}
.flex_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 100;
  width: 80%;
}

.content_paper {
  box-shadow: 0 4px 8px 0 black;
  width: -webkit-fill-available;
  border-radius: 0.125rem;
  height: 23rem;
  padding-top: 0.25rem;
  margin: 2rem 0.5rem;
  background-color: #eadbcf;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.2rem;
  -webkit-text-fill-color: #000;
  color: #000 !important;
  overflow: hidden;
}
.content_paper #content {
  padding: 0.55rem 1.5rem 0;
  text-align: left;
  font-size: small;
  position: relative;
  top: -98%;
  line-height: 1.36rem;
  overflow: hidden;
}
.content_paper #content p, .content_paper #content span:first-child {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.content_postit {
  width: webkit-fill-available;
  height: 16rem;
  border-radius: 0.125rem;
  background-color: #ffbbbb;
  box-shadow: 0 0.5rem 0.5rem 0.125rem rgba(0, 0, 0, 0.4);
}
.content_postit p {
  color: black;
  font-size: 0.7rem;
  text-align: justify;
  padding: 0 1rem;
}
.content_postit p:first-child {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 0 0;
}

.content_polaroid {
  width: webkit-fill-available;
  padding: 0.75rem;
  height: 20rem;
  border-radius: 0.125rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 0.5rem 0.125rem rgba(0, 0, 0, 0.4);
  border: solid 1px rgba(0, 0, 0, 0.5333333333);
}
.content_polaroid .content_polaroid_inside {
  width: webkit-fill-available;
  height: 15rem;
  margin-top: -2.5rem;
  background-color: #070707;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1333333333);
  transition: all ease-in-out 0.2s;
}
.content_polaroid .content_polaroid_inside p {
  color: black;
  font-size: 0.7rem;
  text-align: justify;
  padding: 0 1rem;
  transition: all ease-in-out 0.2s;
}
.content_polaroid .content_polaroid_inside p:first-child {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.5rem 0 0;
  margin-bottom: -0.25rem;
}
.content_polaroid .content_polaroid_inside #project_polaroid {
  background-color: #aaa;
  background-image: none;
}

.transparent_text p {
  color: transparent !important;
}

.paper_pin {
  position: relative;
  left: 50%;
  top: 1%;
  transform: translateX(-50%);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 1000rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5333333333);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.6530987395) 0%, rgba(0, 0, 0, 0.7007177871) 40%, rgb(0, 0, 0) 41%, rgba(0, 0, 0, 0.6026785714) 56%, rgba(0, 0, 0, 0.4458158263) 64%, rgba(0, 0, 0, 0.7119222689) 75%, rgb(0, 0, 0) 100%);
}

.stripe {
  font-size: 0.7rem;
  margin: 4px 1.5rem;
  color: #aaa !important;
  -webkit-text-fill-color: #aaa;
  position: relative;
  overflow: hidden;
  transform: scaleY(0.5);
}

/*# sourceMappingURL=main.css.map */
